/* Floating */
.welcome{float:left;}
.logout{float:right;}

/* background-color */
.chathead{background:linear-gradient(#7bc1e3, white);}
/* .chatusers{background-color:yellow;} */

/* Borders */
.chathead, .chatbox, .chatusers, .message{border:1px solid;}

/* text-align */
.chatbox{text-align:left;}

/* Bordures et contours */
.chatbox, .chatusers, .message, .message_user{padding:10px; margin-bottom:25px;}
.message_user{padding:0px;margin:0px;outline-offset:100px;}

/* Tailles */
.wrapper{width:500px;height:500px;}
.message_user{width:310px;}
.delete_message, .valid_message{width:70px;}

/* Hover */
a{text-decoration:none;}
a:hover{text-decoration:underline;}

/* Overflow */
.chatbox{overflow-y:scroll;overflow-wrap:break-word;}
.chatusers{overflow-y:scroll;overflow-x:hidden;}

/* Media Queries */
.chatbox{
    display:flex;
    flex-direction:column-reverse;
}

.wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:"menu menu menu"
                        "chathead chathead chathead"
                        "chatusers chatbox chatbox"
                        "message message message";
}
.menu{grid-area:menu;}
.chathead{grid-area:chathead;}
.chatbox{grid-area:chatbox;}
.message{grid-area:message;}

@media(max-width:600px), screen and (orientation: portrait)
{
    .wrapper
    {
        grid-template-columns: 1fr;
		grid-template-areas:"menu"
                            "chathead"
							"chatbox"
                            "message"
                            "chatusers";
    }
}